.slider {
  margin-top: 60px;
}

.imgSlider {
  padding: 0px;
  width: 100%;
  height: auto;
  cursor: pointer;
  max-height: 92.5vh !important; /* أقصى ارتفاع لتجنب التمدد الزائد في الشاشات الكبيرة */
  /* object-fit: contain; يضمن عرض الصورة بالكامل بدون قص */
}

@media (min-width: 992px) {
  .imgSlider {
    width: 100%;
    /* height: 500px; */
    margin-top: 10px;
  }
}

.loading-spinner {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1000;
}

.message-box {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease-in-out, fadeOut 0.5s ease-in-out 4.5s;
  z-index: 1000;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
