.slider {
    position: relative;
    margin-top: 10px;
}

.slider .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.slider .banner_2 {
    width: 48%;
    margin-left: 10px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.slider .banner_2 a {
    display: block;
    width: 100%;
    height: 100%;
}

.slider .banner_2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider .swiper-container {
    width: 48%;
    overflow: hidden;
}

.swiper-wrapper {
    height: auto !important;
}

.slider .swiper-pagination {
    opacity: 0.5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    background: #237801;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    transition: 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #237801;
    width: 34px !important;
    height: 8px !important;
    border-radius: 30px !important;
}

/* Media Queries */
@media (max-width: 992px) {
    .slider .container {
        flex-direction: column;
        align-items: center;
    }
    .slider .banner_2 {
        width: 100%;
        margin-top: 15px;
    }
    .slider .swiper-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .slider {
        margin-top: 5px;
    }
    .swiper-pagination {
        bottom: 5px;
    }
    .slider .container {
        flex-direction: column;
        align-items: center;
    }
    .slider .swiper-container,
    .slider .banner_2 {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 480px) {
    .slider .container {
        flex-direction: column;
    }
    .slider .swiper-container,
    .slider .banner_2 {
        width: 100%;
        margin: 0;
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
}